
/* START: FOOTER CSS */
.footer {
    width: 100%;
    height: 100px;
    background-color: #14c785;
    padding: 40px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  /* END: FOOTER CSS */
  
  /* START: CONTENT CSS */
  .main-page-1 {
    background-color: #fff;
  }
  
  .browse-the-range {
    color: var(--font-color, #333);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .room-page-1 {
    text-align: center;
    margin: 50px 170px;
  }
  
  .room-name {
    color: var(--font-color, #333);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  /* START: PRODUCT DETAIL PAGE */
  .product-detail {
    width: 100%;
  }
  
  .crossbar {
    background-color: #F9F1E7;
    overflow: hidden;
    float: left;
    height: 100px;
    width: 100%;
    padding-left: 99px;
  }
  
  .crossbar__list {
    float: left;
    display: block;
    margin-top: 38px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    color: #9F9F9F;
    margin-right: 20px;
  }
  
  .crossbar__line {
    width: 2px;
    height: 37px;
    float: left;
    list-style: none;
    margin-top: 31px;
    margin-right: 20px;
  }
  
  .crossbar__product--name {
    width: 108px;
    height: 24px;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
    margin-top: 37px;
    float: left;
    text-align: center;
  }
  
  .info {
    width: 100%;
    flex-shrink: 0;
  }
  
  .info__img {
    max-width: 423px;
    height: 500px;
    border-radius: 10px;
    background: #F9F1E7;
    margin: 35px 20px 0 70px;
  }
  
  .info__img:hover {
    background-color: rgba(83, 92, 73, 0.566);
  }
  
  .info__img--type {
    margin-top: 35px;
    margin-left: 99px;
    max-width: 76px;
    height: 80px;
    border-radius: 10px;
    background: #F9F1E7;
    cursor: pointer;
  }
  
  .info__img--type:hover {
    background-color: rgba(83, 92, 73, 0.566);
  }
  
  .info__product--name {
    color: #000;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 35px;
    margin-bottom: 10px;
  }
  
  .info__product--value {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .info__product--intro {
    width: 424px;
    height: 70px;
    color: #000;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .info__product--size {
    width: 100%;
    flex-shrink: 0;
  }
  
  .info__product--size li:hover {
    background-color: rgba(83, 92, 73, 0.566);
  }
  
  .info__product--size p {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  
  .info__product--size li {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: #F9F1E7;
    display: block;
    float: left;
    padding-top: 3px;
    margin-right: 42px;
    margin-left: -32px;
    cursor: pointer;
    text-align: center;
  }
  
  .info__product--color {
    width: 100%;
    display: inline-block;
    margin-bottom: 60px;
  }
  
  .info__product--color p {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: left;
    margin-top: 10px;
    width: 100%;
  }
  
  .info__product--color li {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: block;
    float: left;
    margin-right: 42px;
    margin-left: -32px;
    cursor: pointer;
  }
  
  .info__line7 {
    margin-top: 60px;
    width: 605.013px;
    height: 1px;
    background: #D9D9D9;
  }
  
  .info__line8 {
    width: 100%;
    height: 1px;
    background: #D9D9D9;
    margin-top: 60px;
  }
  
  .info__add img {
    cursor: pointer;
  }
  
  .discription {
    width: 100%;
  }
  
  .discription__title {
    width: 100%;
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 48px 25% 12px 25%;
    display: inline-block;
  }
  
  .discription__title p {
    list-style: none;
    float: left;
    margin-right: 10%;
    cursor: pointer;
  }
  
  .discription__title p:hover {
    background-color: rgba(83, 92, 73, 0.3);
  }
  
  .discription__content {
    width: 100%;
  }
  
  .discription__content p {
    color: #9F9F9F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px 15%;
  }
  
  .discription__img {
    text-align: center;
  }
  
  .related {
    text-align: left;
  }
  
  .related__title {
    text-align: center;
    color: #000;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 40px 0;
  }
  
  .related__info {
    background-color: #F4F5F7;
    width: 285px;
    height: 145px;
    color: #3A3A3A;
    font-weight: 600;
    line-height: 150%;
    font-style: normal;
    margin-bottom: 15px;
  }
  
  .related__info h4 {
    color: #3A3A3A;
    font-size: 24px;
    line-height: 120%;
    margin-left: 16px;
  }
  
  .related__info p {
    color: #898989;
    font-size: 16px;
    margin-left: 16px;
    font-weight: 500;
  }
  
  .related__info h5 {
    color: #3A3A3A;
    font-size: 20px;
    margin-left: 16px;
    float: left;
  }
  
  .related__info h6 {
    color: #B0B0B0;
    font-size: 16px;
    font-weight: 400;
    text-decoration-line: line-through;
    margin-right: 15px;
    float: right;
  }
  
  .related__product {
    width: 285px;
    height: 485px;
    position: relative;
  }
  
  .related__image {
    position: relative;
    width: 285px;
    height: 301px;
    overflow: hidden;
  }
  
  .related__image:hover .related__overlay {
    visibility: visible;
  }
  
  .related__image:hover img {
    transform: scale(1.2)
  }
  
  .related__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(83, 92, 73, 0.3);
    width: 285px;
    height: 301px;
    visibility: hidden;
  }
  
  .related__image img {
    transition: .5s ease;
  }
  
  .show__btn {
    text-align: center;
    flex-shrink: 0;
    border: 1px solid #B88E2F;
    background: #FFF;
    width: 245px;
    height: 48px;
    margin: 44px 41%;
    cursor: pointer;
  }
  
  .show__btn a {
    color: #B88E2F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    margin-top: 50px;
  }
  
  .show__btn:hover {
    background-color: rgba(83, 92, 73, 0.3);
  }
  
  @media (max-width: 1023px) {
      .show__btn {
        margin-left: 34%;
      }
      .related__title {
        margin-left: 24%;
      }
      .discription__img img {
          width: 80%;
          height: auto;
          margin-top: 10px;
      }
  }
  li:hover {
    background-color: rgba(83, 92, 73, 0.566);
  }
  /* END: PRODUCT DETAIL PAGE */